header {
  padding-top: 50px;
}
article p {
  color: black;
  background-color: lightgreen;
}
section header h3 {
  text-align: center;
}
body {
  background-color: gray
}
.garbage {
  font-style: italic;
}
header h1 {
  font-size: 3.0em
}
aside section {
  background-color: white;
  margin-right: 80%;
  margin-bottom: 5px;
  padding: 1px;
  text-align: center;
  border-style: double;
  border-color: black;
  border-radius: 10px
}

aside section h4 {
  font-size: 2em;
}

aside section p {
  font-style: italic;
  font-family: Impact;
  text-decoration: underline;
}

/* most general! */
.blue {
  color: #13C2F2;
}
/*most specific 
aside section p.blue {
  color: #13C2F2;
} */

ul {
  text-align: left;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 10px;
  list-style-image: url('./add.png')

}

h1 img {
  border-style: solid;
  border-color: red;
  border-radius: 30px
}



/*aside section h4:hover {
  background-color: yellow;
}*/

.fade {
  transition: opacity 2s;
  }

.fade:hover {
  opacity: 0.5;
  }